[submodule "frontend/deps/mustache"]
	path = frontend/deps/mustache
	url = git://github.com/azer/mustache.js.git
[submodule "frontend/deps/functools"]
	path = frontend/deps/functools
	url = git://github.com/azer/functools.git
[submodule "frontend/deps/observer"]
	path = frontend/deps/observer
	url = git://github.com/azer/observer.git
[submodule "frontend/deps/relative-date"]
	path = frontend/deps/relative-date
	url = git://github.com/azer/relative-date.git
