<h2>About MultiplayerChess.com</h2>
<p>
  MultiplayerChess.com provides the quickest way for getting together to play
  chess. You can find an online opponent or create a private session to play
  with whom you share the URL of the session, being able to play simultaneously
  in different browser windows and to continue any game.
</p>

<h2>Feedback</h2>
Please feel free to share your thoughts and to ask any questions. 

<ul>
  <li>E-Mail: <a href="mailto:azer@kodfabrik.com">azer@kodfabrik.com</a></li>
  <li>Twitter: <a target="_blank" href="http://twitter.com/4zjs">@4zjs</a></li>
  <li><a href="http://www.facebook.com/multiplayerchess">Facebook</a></li>
  <li><a href="https://chrome.google.com/webstore/detail/ckjffnjacjdmdmpemmnplcgngbdgfmpc">Chrome WebStore</a></li>
</ul>

<h2>Credits</h2>
  <ul>
    <li>Development&Maintenance: <a href="http://azer.kodfabrik.com">Azer Ko&ccedil;ulu</a> (<a href="https://github.com/azer/multiplayerchess.com">Github</a>)</li>
    <li>Validation Library: <a href="http://http://paprika.umw.edu/~jhlywa">Jeff Hlywa</a> (<a href="https://github.com/jhlywa/chess.js">Github</a>)</li>
    <li>New AI: <a href="http://nanochess.110mb.com">Oscar Toledo</a> (<a href="https://github.com/azer/toledo-chess">Github</a>)</li>
    <li>Piece Graphics: <a href="http://en.wikipedia.org/wiki/User:Cburnett">Colin Burnett</a></li>
    <li>And <a href="#!/photographers">the photographers!</a></li>
  </ul>
