<h2>FAQ</h2>
<div class="faq">
  <h4>How can I play chess with my friends?</h4>
  Just create a new private session and copy&paste and share URL (looks like; multiplayerchess.com/#!/f0oB4r) of the session.

  <h4>Can I bookmark the games/sessions?</h4>
  Yes! Please don't hestitate to archive them.

  <h4>Can I use my Facebook and/or Twitter Id?</h4>
  Next version will cover public profiles and related options.

  <h4>Will it always be free?</h4>
  Yes. There'll be no paid-accounts, no ads, no evil trackers.

  <h4>Is it possible to export a game?</h4>
  Yes, you can get the PGN output (see game buttons in sidebar)

  <h4>What're the features you're planning to implement for the next version?</h4>
  Profiles takes the first line. Draw agreement, PGN import, replay and e-mail service are the other major 
  features I'll implement.

  <h4>What are the ways of contributing this website?</h4>
  You may <a target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=XM2VHRARZJQAA&lc=TR&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted">buy me a drink</a>, help me spread multiplayerchess.com to other people, share your thoughts and advices...
  If you're a coder willing to contribute the project, please don't hestitate to request the source code from me. I'm already checking out the ways of open sourcing it.
</div>
