<h2>
  Hi
  <input id="nickname" type="text" value="{{ nickname }}" class="nickname" autocomplete="off" />
  <div id="nickname-testbox" class="nickname testbox">{{ nickname }}</div>
  !
</h2>
<p>
  MultiplayerChess.com is a new, quick way to play online chess.
</p>

<a href="#!/sessions/search" class="option">
  <span>
    <h3>Find Online Opponent<label>fresh!</label></h3>
    <div class="description">
      Get matched with another online online player instantly. 
    </div>
  </span>
</a>

<a href="#!/sessions/new/private" class="option">
  <span>
    <h3>Play With Your Friends</h3>
    <div class="description">
      The option lets you to create a private session, with no time limitation.
    </div>
  </span>
</a>

<a href="#!/sessions/new/singleplayer" class="option">
  <span>
    <h3>Singleplayer<label>so fresh!</label></h3>
    <div class="description">
      For those willing to take a test drive, an artifical opponent.
    </div>
  </span>
</a>

{{> news }}
