<div class="news">
  <h2>News</h2>
  <ul>
    <li>
      <div class="date">06.12.2011</div>
      Inci Sozlukten gelen panpalar icin <a href="http://inci.sozlukspot.com/w/multiplayerchess.com">feedback basligi</a> olusturuldu.
    </li>
    <li>
      <div class="date">05.21.2011</div>
      For those playing single player more often; <a href="http://singleplayerchess.com">singleplayerchess.com</a>
    </li>
    <li>
      <div class="date">05.06.2011</div>
      MultiplayerChess.com became an application in Google's Chrome AppStore. <a href="https://chrome.google.com/webstore/detail/ckjffnjacjdmdmpemmnplcgngbdgfmpc" target="_blank">Check it out!</a>
    </li>
    <!--
    <li>
      <div class="date">04.18.2011</div>
      Please give a try to the new AI opponent. It's in the singleplayer mode, it's in the story of where the Mechanical Turk came from!
    </li>
    <li>
      <div class="date">04.13.2011</div>
      Session resumption feature was disabled, disconnection now means resign. Thanks for helpful feedbacks.
    </li>
    -->
  </ul>
</div>
