<div id="sidebar" class="sidebar">
  <div class="inner">
    <div id="sidebar-status-widgetset" class="status">
      <div id="directive-widget" class="directive widget">
        <div id="directive-content">
        </div>
      </div>

      <div id="opponent-widget" class="opponent widget">
        <label id="opponent-label">Opponent:</label>
        <span id="opponent-content"></span>
      </div>

      <div id="online-widget" class="online widget">
        <label id="online-label">Online Players:</label>
        <span id="online-content"></span>
      </div>

    </div>
    <div  id="sidebar-sessioninfo-widgetset"class="session-info">
      <div id="sidebar-sessioninfo-widgetset-inner" class="session-info-inner">
    
        <div id="capturetable-widget" class="capturetable widget">
          <label>Captured Pieces</label>
          <div id="capturetable-content" class="content"></div>
        </div>

        <div id="moves-widget" class="moves widget">
          <label id="moves-label">Moves</label>
          <div id="moves-content" class="content"></div>
        </div>

        <div id="logs-widget" class="logs widget">
          <label id="logs-label">Session Logs</label>
          <div id="logs-content" class="content"></div>
        </div>

      </div>

    </div>
    <div id="buttonset-widget" class="buttons">
      <div id="buttonset-content"></div>
    </div>
    <div class="clean"></div>
    <div id="photographer-widget" class="photographer widget footer">
      <label id="photographer-label">★ Photography: </label>
      <div id="photographer-content" class="content"></div>
    </div>
    <div id="footer" class="footer">
      ★ Kodfabrik 2011 (<a href="#!/about">More Info</a>)
    </div>
  </div>
</div>
